/* Define your color palette */
:root {
    --primary-color: #4CAF50; /* Green */
    --secondary-color: #333; /* Dark Gray */
    --accent-color: #FF5722; /* Orange */
    --background-color: #f9f9f9; /* Light Gray */
    --text-color: #333; /* Dark Gray */
    --link-color: #4CAF50; /* Green */
    --border-color: #ddd; /* Light Gray for borders */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

header p {
    margin: 0.5rem 0 0;
    font-size: 1.5rem;
}

/* Style for section headings */
section h2 {
    color: var(--primary-color);
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

section h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -0.5rem;
    left: 0;
}

section {
    padding: 2rem;
    max-width: 900px;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

section::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--border-color);
    position: absolute;
    bottom: -2rem;
    left: 0;
}

#about img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background: var(--primary-color);
    color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    display: inline-block;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    max-width: 300px; /* Adjust the maximum width as needed */
}

.project h3 {
    color: var(--primary-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Button Styles */
button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darken(var(--accent-color), 10%);
}

/* Image Styles */
img {
    border: 5px solid var(--background-color);
    border-radius: 8px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

/* Add some spacing between sections */
section + section {
    margin-top: 4rem;
}
